body {
    margin-top: 225px;
}

#socialtext-wrapper {
    text-align: center;
    width: 100%;
    position: fixed;
    opacity: 1;
    line-height:200%;
    z-index: 100000;
    font-size: 15px;
    top:220px;
}

#socialtext-header {
    background-color: white;
    color: black;
    width: 50%;
    margin: -210px auto 50px auto;
    font-family: 'Scala Sans','Gill Sans','Helvetica Neue', 'Arial';
    height: 150px;
    padding: 1em 1em 1em 1em;
    opacity:.95;
    border: 10px solid #8bc;
    border-radius: 1em;
    -webkit-box-shadow: 11px 11px 19px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 11px 11px 19px rgba(50, 50, 50, 0.3);
    box-shadow: 11px 11px 19px rgba(50, 50, 50, 0.3);
}

.socialtext-checkbox {
    cursor:pointer;
}

.socialtext-checkbox input {
    cursor:pointer;
}

#socialtext-reset {
    text-align:right;
    margin:-1em -.5em 0 0;

}

#socialtext-wrapper a {
    color: #678C9A;
    text-decoration: none;
}

#socialtext-slider {
    width:100%;
    -webkit-box-shadow: 2px 5px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.3);
    box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.3);

}

#socialtext-header h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-weight: 100;
    margin-top: -10px;
    text-align: center;
    color: #678c9a;
}

#socialtext-footer {
    font-size: 80%;
    border-top:1px dotted #bbb;
    padding-top:3px;

}

.socialtext-show {
    text-decoration: none, background: white;
    color: red;
}

.socialtext-hide {
    text-decoration: none, background: white;
    color: silver;
}

